<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Produto</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/cadastrar">Cadastrar Produto</a></li>
                    <li><a href="/categorias">Categorias</a></li>
                    <li><a href="/saiba-mais">Saiba Mais</a></li>
                </ul>
            </nav>
        </div>
        <div th:replace="searchButton"></div>

    </header>

    <main>
        <section class="content">
            <h2>Produtos Em Estoque</h2>
            <table>
                <thead class="table-header">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Categoria</th>
                        <th class="small-column">Editar</th>
                        <th class="small-column">Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${searchProducts}">
                        <td th:text="${product.idProduct}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="${product.getCategory().getCategoryName()}"></td>

                        <td class="small-column"><a th:href="@{'/' + ${product.idProduct}}"><img class="edit-button"
                                    src="/img/pencil.png" alt=""></a></td>
                        <td class="small-column">
                            <form th:action="@{'/' + ${product.idProduct}}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button class="trash" type="submit"><img class="delete-button" src="/img/trash.png"
                                        alt=""></button>
                            </form>
                        </td>
                    </tr>
                </tbody>

            </table>
        </section>
    </main>

    <div th:replace="footer :: footer"></div>
</body>

</html>